.chart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin: 20px;
}

@media (max-width: 600px) {
  .chart {
    max-width: 400px;
    margin: 20px auto;
  }
  .MuiGrid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}
